.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;  /*referente a largura máxima que o container ocupa*/
    height: 4px;
    border-radius: 4px;
    background: var(--grey-line);
    margin: 0 1.25rem;
    position: relative;
}

.experienceBar > div > div{
    height: 4px;
    border-radius: 4px;
    background: var(--green);    
}
span.currentExperience{
    position: absolute;
    top: 12px;
    transform: translateX(-50%)
}


